@page
@model Presentacion.Pages.Servicio.IndexModel
@{ViewData["Title"] = "Servicios";
}


<h1>Listado de Servicios</h1>
<p>
    <a asp-page="Crear" class="btn btn-success"><i class="fas fa-plus"></i> Crear Servicio</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.Servicios)
        {
            <tr>
                <td>@s.Id </td>
                <td>@s.Nombre </td>
                <td>@s.Estado </td>
                <td>
                    <a class="btn btn-outline-primary" asp-page="./Editar" asp-route-id="@s.Id"><i class="fas fa-edit"></i> Editar</a>
                    <a class="btn btn-danger" asp-page="./Eliminar" asp-route-id="@s.Id"><i class="fas fa-trash-alt"></i> Eliminar</a>
                    <a class="btn btn-info" asp-page="./Detalles" asp-route-id="@s.Id"><i class="fas fa-info"></i> Detalles</a>
                </td>
            </tr>
        }
    </tbody>   
</table>
